body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: dodgerblue;
  height: 60px;
}

.nav-link {
  margin: 1% !important;
}

.login {
  margin-left: 62% !important;
}

.form-group {
  flex: 1,
  /* flexDirection: "column",
  justifyContent: "center",
  alignItems: "center" */
}

.login-submit {
  margin-top: 15px !important;
} 